/**
 * Style sheet for settings page
 * @author Axton
 */

/*----- keyframes -----*/
@keyframes glitch {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-2.5deg, -0.9deg);
      filter: url(#filter);
      opacity: 0.75;
    }
    8% {
      filter: none;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(1.8deg, -0.1deg);
      filter: url(#filter);
      opacity: 0.75;
    }
    31% {
      filter: none;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 1.2deg);
      filter: url(#filter);
      opacity: 0.75;
    }
    56% {
      filter: none;
    }
    60% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, -1deg);
      filter: url(#filter);
      opacity: 0.75;
    }
    76% {
      filter: none;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
}
/*----- body -----*/
body {
  overflow-x: hidden!important;
}
.ascii {
    white-space: pre;
    line-height: 20px;
    padding-bottom: 25px;
    width: 100%;
    overflow: auto;
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
    border-right-color: #23282d;
}
/*----- #wpcontent -----*/
#wpcontent {
    background: #23282d;
    min-height: calc(100vh - 32px);
    word-break: break-all!important;
}
#wpbody-content {
    padding-bottom: 35px!important;
}
#wpcontent.ptw-rm {
    animation: glitch .5s 2;
}
/*----- .warp -----*/
.wrap {
    color: rgb(212, 212, 212);
    font-family: 'Courier Prime',Courier New,Consolas, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", monospace!important;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    cursor: text;
}
.wrap::selection, .wrap *::selection {
    background-color: rgb(212, 212, 212);
    color: #23282d;
}
.wrap a {
    color: rgb(212, 212, 212)!important;
}
/*----- inputs -----*/
.input-text, .input-text *, .input-choise, .input-choise * {
    background-color: transparent!important;
    font-size: 16px!important;
    word-break: break-all!important;
}
.input-text, .input-choise {
    border: none!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    outline: 0!important;
    box-sizing: border-box!important;
    padding-left: 10px;
}
.input-choise, #output-choise {
    display: none;
}
.input-text * {
    display: inline!important;
    white-space: pre-wrap!important;
}
.input-text, .input-text * {
    background-color: transparent!important;
    font-size: 16px!important;
    font-family: 'Courier Prime',Courier New,Consolas, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", monospace!important;
    word-break: break-all!important;
    color: rgb(212, 212, 212)!important;
    font-weight: normal!important;
}
.input-text br {
    display: none!important;
}
.webhook-list {
    white-space: pre;
    width: 100%;
    overflow: auto;
    display: inline-block;
    margin-bottom: -9px;
}
/*----- output -----*/
.color-err {
    font-weight: bold;
    color: crimson;
}
.color-info {
    font-weight: bold;
    color: dodgerblue;
}
.color-warn {
    font-weight: bold;
    color: goldenrod;
}
.color-success {
    font-weight: bold;
    color: #79ce24;
}
.printed-command {
    padding-left: 10px;
}
#output {
    word-break: break-all;
}
#tip {
    opacity: .35;
}
.tab-items {
    width: 76.85px;
    display: inline-block;
}
/*----- svg -----*/
#filter-svg {
    display: none;
}
/*----- media query -----*/
@media(max-width: 782px){
    #wpcontent {
        min-height: calc(100vh - 46px);
    }
    #wpbody-content {
        padding-bottom: 20px!important;
    }
}
@media(max-width: 600px){
    #wpcontent {
        min-height: 100vh;
    }
}